ci:
  autoupdate_commit_msg: "chore: [pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "quarterly"

repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    - id: black
