[workspace]
authors = ["Matthew Feickert <matthew.feickert@cern.ch>"]
channels = ["conda-forge"]
name = "nvidia-gpu-ml-library-test"
platforms = ["linux-64", "osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.13.5,<3.14"
time = ">=1.9,<2"

[feature.cpu.dependencies]
pytorch-cpu = ">=2.7.1,<3"
torchvision = ">=0.22.0,<0.23"

[feature.cpu.tasks.train-cpu]
description = "Train MNIST on CPU"
cmd = "python torch_MNIST.py --epochs 2 --save-model --data-dir data"

[feature.gpu.system-requirements]
cuda = "12"

[feature.gpu.target.linux-64.dependencies]
pytorch-gpu = ">=2.7.1,<3"
torchvision = ">=0.22.0,<0.23"

[feature.gpu.tasks.train-gpu]
description = "Train MNIST on GPU"
cmd = "time -v python torch_MNIST.py --epochs 14 --save-model --data-dir data"

[feature.inference.dependencies]
matplotlib = ">=3.10.3,<4"

[feature.inference.tasks.inference]
description = "Perform inference using the trained model on GPU"
cmd = "python torch_MNIST_inference.py --model-path ./mnist_cnn.pt --data-dir data"

[feature.cpu-jax.dependencies]
jax = ">=0.7.0,<0.8"

[feature.gpu-jax.system-requirements]
cuda = "12.6"

[feature.gpu-jax.dependencies]
jax = ">=0.7.0,<0.8"
cuda-version = "12.9.*"

[environments]
cpu = ["cpu"]
gpu = ["gpu"]
inference = ["gpu", "inference"]
cpu-jax = ["cpu-jax"]
gpu-jax = ["gpu-jax"]
